body > header {
  text-align: center;
}
body, #display, header {
  background-color: #f0f0f0;
}

#stock-in {
  height: 30px;
  width: 300px;
  padding-left: 20px;
}

#add-stock {
  background-color: #73ad21;
  color: white;
  height: 40px;
  width: 60px;
}

#display {
  text-align: center;
}

.tile {
  width: 300px;
  height:120px;
  background-color: white;
  border: solid;
  border-color: #ddd;
  border-width: 0.5px;
  margin: 20px;
  display: inline-flex;
  position: relative;
}

.tile .left-side {
  width:150px;
  height:120px;
  margin:0;
  padding: 0;
  display:inline-flex;
  overflow: hidden;
    text-align: left;
}

.tile .right-side {
  width:100px;
  height:110px;
  margin-top:5px;
  margin-left: 50px;
  padding: 5px;
  display:inline-flex;
}

.tile h1 {

  margin: 5px;
  top: 10px;
  left: 5px;
  width:150px;
  height: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline;
  font-size: 18px;
}

.tile h2 {
  font-size: 14px;
  color: #aaaaaa;
  top: 20px;
  left: 7px;
  position: absolute
}

.tile section {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 17px;
}

.tile section.change {
  bottom: 25px;
  font-size: 12px;
}

.tile .hilo {
  margin:5px;
  border-left: solid;
  border-color: #aaaaaa;
  color: #aaaaaa;
  font-size: 12px;
}

.tile .hilo .marker {
  position: absolute;
  left: 195px;
  bottom: 0px;
  /*bottom: 95px;*/
}

.tile .hilo .low {
  position: absolute;
  left: 210px;
  bottom:5px;
}
